* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* border: 1px solid red; */
}

.main-menu {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-background {
    background-color: #1F2937;
    padding: 10px 100px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8 ;
}

.header-link {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 20px;
    align-items: flex-end;
}

.header-two {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
}

.title-container {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width: 400px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.context {
    font-size: 18px;
    color: #E5E7EB;
}

.image-container {
    padding-right: 100px;
}

.info-boxes div img {
    border-radius: 10px;
    border-color: black;
}

.header-sign-up {
    padding: 4px 15px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.info-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 400px;
}

.info-header {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    /* flex-shrink: 1; */
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.box img {
    border: 1px solid blue;
}

.quote-container {
    background-color: #E5E7EB;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 150px 300px 150px 300px;
}

.quote-container div p {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

#author { 
    display: flex;
    justify-content: flex-end;
}

.lower-part {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.lower-container {
    background-color: #3882F6;
    display: flex;
    place-content: center center;
    gap: 50px;
    width: 600px;
    padding: 30px;
    border-radius: 6px;
    align-items: flex-end;
}

.call {
    color: #F9FAF8;
}

.sign-up {
    border: 1px solid white;
    padding: 4px 15px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    cursor: pointer;
}