* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header_background {
    background-color: #1F2937;
    padding: 10px 100px 100px;
}

.header_content {

}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8 ;
}

.header_link {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 20px;
}